<h1>Editing bookappiontment</h1>

<%= render "form", bookappiontment: @bookappiontment %>

<br>

<div>
  <%= link_to "Show this bookappiontment", @bookappiontment %> |
  <%= link_to "Back to bookappiontments", bookappiontments_path %>
</div>
