<h1>Editing bookappiontment</h1>

<%= render "form", bookappiontment: @bookappiontment %>

<br>

<div>
  <%= link_to "Admin View book appointments", @bookappiontment %> |
  <%= link_to "Back to book appointments", bookappiontments_path %>
</div>
