<h1>Editing book appointment</h1>

<%= render "form", book_appointment: @book_appointment %>

<br>

<div>
  <%= link_to "Show this book appointment", @book_appointment %> |
  <%= link_to "Back to book appointments", book_appointments_path %>
</div>
